<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
 
 
  <body>
    <main>
      <section>
        <% if (!locals.user) { %>
          <div>
            <button><a href="/create">Agregar una película</a></button>
          </div>
        <div>      
        <% } else { %>
        <div>
          <h1>Bienvenida/o <%= locals.user.name %></h1>
        </div>
        <div>
          <button><a href="/logout">Logout</a></button>
        </div>
        <% } %>
      </section>
        <div>
     
      <section>
        <h1>Listado de películas</h1>
        <ul>
          <% for (const oneMovie of movies) { %>
          <li> 
            <b>Título:</b> <%= oneMovie.title %><br>
            <a href="/detail/<%= oneMovie.id %>">VER MAS</a> 
            <br>
          </li>	
          <% } %>
        </ul>
     
        <%- include('../partials/footer')  %>
