<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Crear</title>
</head>
<body>
    <form action="/crear" method="POST">
    <div>
        <label for="">Titulo</label>
        <input type="text" name="titulo" id="titulo" required>>
    </div>
    <div>
        <label for="">Rating</label>
        <input type="text" name="rating" id="rating"required>
    </div>
    <div>
        <label for="">Premios</label>
        <input type="text" name="premios" id="premios"required>
    </div>
    <div>
        <label for="">Duracion</label>
        <input type="text" name="duracion" id="duracion"required>
    </div>
    <div>
        <label for="">Fecha de estreno</label>
        <input type="date" name="release_date" id="release_date"required>
    </div>
    <div>
        <label for="">Genero</label>
        <select name="genero">
           <% for (let i=0; i< generos.length; i++) { %> 
            <option value="<%= generos[i].id %> "> <%= generos[i].name %>  </option>
            <% } %> 
        </select>
    </div>
    <button class="botonAgregar" type="submit">Crear</button>
</form>
</body>
<footer>
	<p>Copyright 2022 - All rights reserved</p>
</footer>
</html>
