<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/login.css" />
  <link rel="stylesheet" href="/css/style.css" />
    <title>Ruta de usuario</title>
</head>
<body>
<main>
    <div class="permiso">
        <p class="permiso">No posee permisos de Administrador</p> </div>
        <a class="logo">
          <img class="img-responsive"src="/img/sinPermiso.png" width="900"  >  
           </a>
        <a class="botonVolver" role="button" aria-pressed="true" href="/"> Volver</a> 
</main>   
</body>
<footer>
	<p>Copyright 2022 - All rights reserved</p>
</footer>
</html>