
.login{
    margin: 15px;
    max-width: 600px;
}
.login  h1 {
    text-align: center;
    padding-bottom: 15px;
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    color: black;
}
.login a p{
    text-decoration: none;
}

.login-title{
    padding: 15px;
    text-align: center;
    text-decoration: none;
}
.login-form{
    background-color:lightpink;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
.login-form input{
    width: 100%;
    max-width: 350px;
    margin-bottom: 25px;
    height: 30px;
    padding-left: 10px;
    border: 1px solid var(--light-border);
    outline: none;
}
.login-form input:focus{
    border: 2px solid blue;
    box-shadow: 3px 3px 10px blue ;
}
.login-form label{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 25px;
    width: 70%;
    max-width: 350px;
}
.login-form .remember{
    display: flex;
    width: 100%;
    max-width: 350px;
}
.login-form .remember-input{
    width: 20px;
    height: 20px;
    margin-bottom: 0;
    margin-right: 10px;
}

.login-form button{
    width: 60%;
    max-width: 200px;
    font-size: 20px;
    border-radius: 15px;
background-color: pink;
    border-color: blueviolet;
}
.error{
    margin: 10px auto;
    font-size: 12px;
    color: red;
}
.botonVolver
{
  color: gold;
  background-color: red;
  padding: 10px;
  border-radius: 10px;
}