main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}

.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    background-color:lightpink;
}
.register-title{
    padding: 10px 15px;
    text-align: center;
    font-size: 26px;
}

.register-errors {
    width: 70%;
    margin: 0 auto 20px auto;
    background-color: #ffaaaa;
    color: red;
    font-size: 12px;
    text-align: left;
    border-radius: 20px;
    padding: 5px;   
}

.registerImput{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}
.registerImput input {
    width: 70%;
    max-width: 400px;
    margin-bottom: 25px;
    height: 30px;
    padding-left: 10px;
    border: 1px solid blue;
    outline: none;
}
.registerImput p.label{
    width: 70%;
    max-width: 400px;
    margin-bottom: 25px;
    font-size: 14px;
    text-align: justify;
}
.registerImput  div{
    width: 50%;
}
.check-items .submit-input{
    width: 60%;
    margin: 20px auto;
    border: 2px solid var(--light-border);
    box-shadow: 3px 3px 10px var(--light-border) ;
    width: 70%;
    display:block;
    align-items: center;
}
.check input{
    width: 30px;
    height: 30px; 
    margin-right: 25px;
}
.register p{
    text-align: center;
}
main p a{
    text-decoration: none;
    color: var(--dark);
    font-weight: bold;
}
.formulario__input-error{
    color:red;
    font-size:15px;

}
.tipoUsuario{
    color:red
  
}
.botonLogin
{
  color: gold;
  background-color: green;
  padding: 10px;
  border-radius: 10px;
}
.botonRegistrar{
    color: white;
    background-color: #00B7FF;
    padding: 10px;
    border-radius: 10px;
  }
  .botonVolver
  {
    color: gold;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
  }