
.register{
    margin-top: 10px;
    padding: 10px;
    background-color: var(--light);
    border-radius: 20px;
}
.register-title{
    padding: 10px 15px;
    text-align: center;
}
.register-title h1{
    font-size: 26px;
}
.register-errors {
    width: 70%;
    margin: 0 auto 20px auto;
    background-color: #ffaaaa;
    color: red;
    font-size: 12px;
    text-align: left;
    border-radius: 20px;
}
.register-errors p{
    padding: 5px;
    
}

.registerImput{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}
.registerImput input {
    width: 70%;
    max-width: 400px;
    margin-bottom: 25px;
    height: 30px;
    padding-left: 10px;
    border: 1px solid var(--light-border);
    outline: none;
}
.registerImput p.label{
    width: 70%;
    max-width: 400px;
    margin-bottom: 25px;
    font-size: 14px;
    text-align: justify;
}
.registerImput > div{
    width: 50%;
}
.checkitems .submit-input{
    width: 60%;
    margin: 20px auto;
}
.registerImput input:focus{
    border: 2px solid var(--light-border);
    box-shadow: 3px 3px 10px var(--light-border) ;
}
.registerImput .checkitems{
    width: 70%;
}
.check{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    max-width: 400px;
    margin: 10px auto;
}
.check input{
    width: 30px;
    height: 30px; 
    margin-right: 25px;
}
.register p{
    text-align: center;
}
main p a{
    text-decoration: none;
    color: var(--dark);
    font-weight: bold;
}

.tipoUsuario{
    color:red
}
