
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body{
  font-family: 'Montserrat', sans-serif;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  position: relative;
}
a {
  text-decoration: none;
  color: #00b7ff;
}

.text {
  color: red;
}
img{
  width: 100%;
}
.titulo{
  text-align: center;
}
.listado{
  color:black;
  text-decoration:overline;
}
main{
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
input, textarea{
  border-radius: 5px;
  border: 1px solid var(--light-border);
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
}
label{
  font-weight: bold;
}
h1,h2,h3,h4{
  margin: 10px 0;
  text-align: center;
}
h1{
  font-size: 30px;
  color:blue;
}
h2{
  font-size: 24px;
}
h3{
  font-size: 22px;
}
a{
  transition: all 0.3s ease;
  text-decoration: none;
  color: blue;
}

/*detalle*/
.detalle{
  margin: 10px 30px;
  text-align: center;
  color:black;
  text-decoration:overline;
}

.formulario{
  margin: auto;
  width: 20%;
}
.botonInicio
{
  color: gold;
  background-color: green;
  padding: 10px;
  border-radius: 10px;
}
.botonAgregar , .botonModificar{
  color: gold;
  background-color: green;
  padding: 10px;
  border-radius: 10px;
}
.botonEliminar{
  color: white;
  background-color: red;
  padding: 10px;
  border-radius: 10px;
}
.botonCancelar{
  color: white;
  background-color: rgb(53, 44, 66);
  padding: 10px;
  border-radius: 10px;
}
.botonEditar{
  color: white;
  background-color: #00B7FF;
  padding: 10px;
  border-radius: 10px;
}
.botonSalir{
  width: 60%;
  max-width: 200px;
  border-radius: 5px;
  border-color: blueviolet;
}
.botonVolver{
  width: 60%;
  max-width: 200px;
  border-radius: 5px;
  border-color: blueviolet;
}