<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheet/style.css" />
  </head>
  <header>
    <ul>
   
     
     
       <a class="listado" href="/login">Login</a>
       
      
          <a class="listado" href="/register">Registro</a>
      
  
  </ul>
  </header>
 
  <body>
    <main>
      <section>
        <% if (!locals.user) { %>
          
            <a class="listado"  href="/crud"> IR CRUD DE PELICULAS</a>
          </div>
        <div>      
        <% } else { %>
        <div>
          <h1>Bienvenida/o <%= locals.user.name %></h1>
        </div>
        <div>
          <button><a href="/logout">Logout</a></button>
        </div>
        <% } %>
      </section>
        <div>
            <a class="listado"  href="/movies"> IR AL LISTADO DE PELICULAS</a>
            </div>
      <section>
    
     
  
