<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <header>
    
       <button><a href="/login">Login</a></button>
        </div>
        <div>
          <button><a href="/register">Registro</a></button>
        </div>
        <div>
          <button><a href="/profile">Mi perfil</a></button>
        </div>
  </header>
 
  <body>
    <main>
      <section>
        <% if (!locals.user) { %>
          <div>
            <button><a href="/create">Agregar una película</a></button>
          </div>
        <div>      
        <% } else { %>
        <div>
          <h1>Bienvenida/o <%= locals.user.name %></h1>
        </div>
        <div>
          <button><a href="/logout">Logout</a></button>
        </div>
        <% } %>
      </section>
        <div>
     
            <a class="listado"  href="/movies"> IR AL LISTADO DE PELICULAS</a>
            </div>
      <section>
    
     
  
