<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <header>
    <a class="logo">
      <img src="/img/logo-SextoSol.png" width='100' alt='Tu cine'>  
       </a>
  </header>
 
  <body>
    <main>
      <section>
        <% if (!locals.user) { %>
          <div>
            <button><a href="/crud">Crud</a></button>
          </div>
        <div>
          <button><a href="/login">Login</a></button>
        </div>
        <div>
          <button><a href="/register">Registro</a></button>
        </div>
        <% } else { %>
        <div>
          <h1>Bienvenida/o <%= locals.user.name %></h1>
        </div>
        <div>
          <button><a href="/logout">Logout</a></button>
        </div>
        <% } %>
      </section>
        <div>
          
        

      <section>
        <h2>LISTADO de PELICULAS</h2>
        <% for (let i=0; i < allMovie.length; i++) { %>
        <ul>
          <li>
            <a href="detailMovies/<%= allMovie[i].id %>">
              <%= allMovie[i].title %>
            </a>
          </li>
        </ul>
        <% } %>
      </section>
     
    </main>
  </body>
</html>
