<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
 
   <header>
     
   </header>


   <body>
   
    
    <h1>Bienvenidos a Movies Challenge by Valeria Yashan</h1>
    <p><a href="/movies">Listado de Películas</a></p>
    

  </body>

</html>
